$screen-sm--6: 320px;
$screen-sm--5: 360px;
$screen-sm--4: 400px;
$screen-sm--3: 480px;
$screen-sm--2: 540px;
$screen-sm--1: 600px;
$screen-sm: 640px;
$screen-md--2: 680px;
$screen-md--1: 720px;
$screen-md: 768px;
$screen-lg--1: 960px;
$screen-lg: 1024px;
$screen-xl: 1125px;
$screen-2xl: 1280px;
$screen-3xl: 1366px;
$screen-4xl: 1440px;
$screen-5xl: 1536px;
$screen-6xl: 1680px;
$screen-7xl: 1792px;
$screen-full-hd: 1920px;

$cl-main: #1f53f2;
$cl-main-hover: #2c5ffa;
$cl-main-active: #0c41de;
$cl-main-disabled: #1a50f3cf;

$cl-main-shade: #e0ecff;
$cl-main-shade-hover: #e5efff;
$cl-main-shade-active: #c7d8f4;
$cl-main-shade-disabled: #d4e4fed6;

$cl-green: #1d6e4e;
$cl-green-hover: #227956;
$cl-green-active: #165a3f;
$cl-green-disabled: #135d3fd7;

$cl-green-shade: #e0f1e7;
$cl-green-shade-hover: #e8f3ec;
$cl-green-shade-active: #cce6d7;
$cl-green-shade-disabled: #d8efe1e6;

$cl-red: #ea4335;
$cl-red-hover: #f15143;
$cl-red-active: #e43526;
$cl-red-disabled: #e63929e2;

$cl-red-shade: #ffe5e2;
$cl-red-shade-hover: #fee9e6;
$cl-red-shade-active: #efc8c4;
$cl-red-shade-disabled: #f1d0cce3;

$cl-box: #f8f9fb;
$cl-stroke: #eeeff3;
$cl-text: #192035;
$cl-passive-text: #50585e;
$cl-purple: #9747ff;
$cl-purple-shade: #e5d1ff;
